<% include ./partials/header %>

<div class="container mt-4">
	<header class="jumbotron">
		<h1>Welcome to YelpCamp!</h1>
		<p>View our hand-picked campgrounds from all over the world</p>
		<p>
			<a class="btn btn-primary btn-lg" href="/campgrounds/new">Add new Campground</a>
		</p>
	</header>

	<div class="row text-center">
		<% campgrounds.forEach((camp=>{ %>
		<div class=" col-lg-3 col-md-6 mb-3">
			<div class="img-thumbnail">
				<img class="img-fluid mb-2" src="<%= camp.image %>" alt="" />
				<div class="card-title pl-2"><h4><%= camp.name %></h4></div>
				<p>
					<a href="/campgrounds/<%=camp._id%>" class="btn btn-info"
						><i class="fa fa-info-circle"></i> &nbsp;More Info</a
					>
				</p>
			</div>
		</div>

		<% })) %>
	</div>
</div>
<% include ./partials/footer%>
